@import '../misc/Globals.css';

.TaskInfoWrapper {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: transparent;
    z-index: 10;
    position: fixed;
    left: 0;
    top: 0;
}

.TaskInfoWrapper * {
    box-sizing: border-box;
}

.invisible_close {
    width: 60%;
    background-color: rgba(0, 0, 0, 0.55);
}
.SingleTaskInfo {
    background-color: var(--email-text-area-bg);
    width: 40%;
    color: var(--main-text-color);
}
.SingleTaskInfo .scrollable {
    height: calc(100% - 170px);
    margin: 0;
}

.SingleTaskInfo .header {
    margin: 0;
    padding-bottom: 10px;
    border-bottom: 2px solid black;
    height: max-content;
}
.SingleTaskInfo .scrollable .simplebar-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    height: 100%;
    width: 100%;
}

.SingleTaskInfo .scrollable .simplebar {
    height: 100%;
    width: 100%;
}

.SingleTaskInfo .header textarea.EditingTextArea {
    color: white;
    text-align: left;
    padding: 10px;
    margin: 2px;
    font-size: 20px;
}

.SingleTaskInfo .TitledComponent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 90%;
}

.SingleTaskInfo .TitledComponent .title {
    align-self: flex-start;
}
.SingleTaskInfo .TitledComponent .general_component {
    align-self: center;
    background-color: var(--main-bg-color);
    width: 100%;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 5px;
}

.SingleTaskInfo .TitledComponent .general_component .RelevantResources {
    padding-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: wrap;
}

.SingleTaskInfo .general_component.People .People {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.SingleTaskInfo .general_component.description {
    background-color: transparent;
    border: 2px solid rgb(56, 65, 96);
}

.SingleTaskInfo .TitledComponent .general_component .EmailComposer {
    position: static;
    background-color: var(--email-container-background);
    z-index: 1;
    height: 210px;
    width: 100%;
    margin: 0;
}
.SingleTaskInfo
    .TitledComponent
    .general_component
    .EmailComposer
    .EmailContent
    .content_title {
    color: white;
}
.SingleTaskInfo
    .TitledComponent
    .general_component
    .EmailComposer
    #scrollable_content-1 {
    width: 100%;
    padding: 0;
    margin: 0;
}

.SingleTaskInfo .TitledComponent .general_component .EmailComposer #toolbar-1 {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    background-color: rgb(83, 92, 123);
}

.SingleTaskInfo
    .TitledComponent
    .general_component
    .EmailComposer
    #toolbar-1
    .custom_buttons {
    margin: 0;
    background-color: rgb(83, 92, 123);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.SingleTaskInfo
    .TitledComponent
    .general_component
    .EmailComposer
    #toolbar-1
    .ql-font,
.SingleTaskInfo
    .TitledComponent
    .general_component
    .EmailComposer
    #toolbar-1
    .ql-picker-label {
    color: rgb(204, 204, 204);
}

.SingleTaskInfo
    .TitledComponent
    .general_component
    .EmailComposer
    #toolbar-1
    .custom_buttons
    * {
    background-color: transparent;
}
.SingleTaskInfo .TitledComponent .general_component.quick_reply {
    display: flex;
    justify-content: center;
    padding: 0;
    width: 100%;
}

.SingleTaskInfo .general_component.People {
    border-radius: 50px;
}
.SingleTaskInfo .People span {
    display: flex;
    flex-direction: row;
    margin: 0;
    align-items: center;
}

.SingleTaskInfo .People span p {
    margin: 2px;
    padding: 0;
}

.SingleTaskInfo .People span p.owner_name {
    color: white;
}

.SingleTaskInfo .People span.task_owner:hover {
    cursor: pointer;
}

.TopButtons .Menu {
    background-color: transparent;
    border: none;
}
.task_status .Dropdown-control {
    min-width: 120px;
    border-radius: 2px;
    background-color: rgb(107, 161, 219);
    color: black;
    padding: 2px 30px 2px 5px;
    margin: 5px;
}

.TopButtons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
}
.task_status .Dropdown-menu {
    background-color: rgb(107, 161, 219);
    border-radius: 2px;
    border: none;
}

.task_status .Dropdown-menu .Dropdown-option {
    color: white;
}
.task_status .Dropdown-menu .Dropdown-option:hover {
    background-color: var(--email-text-area-bg);
}

.task_status .Dropdown-menu .Dropdown-option.is-selected {
    color: white;
}

.task_priority .Dropdown-control {
    min-width: 100px;
    background-color: transparent;
}
.task_priority .Dropdown-menu {
    background-color: var(--main-bg-color);
    border-radius: 2px;
    border: none;
}

.TopButtons .task_priority {
    width: 100px;
}

.TopButtons button.add_tag {
    background-color: transparent;
    width: 70px;
    min-width: 70px;
    padding: 4px;
    color: var(--main-text-color);
}

.SingleTaskInfo .People button.add_watchers {
    color: white;
    background-color: transparent;
    font-size: 20px;
    margin-left: 0;
    position: relative;
    left: -5px;
}
.SingleTaskInfo textarea.EditingTextArea {
    min-height: 60px;
    height: max-content;
    width: 100%;
    background-color: transparent;
    color: var(--main-text-color);
    resize: none;
    outline: none;
    border: none;
    font-family: sans-serif;
}

.SingleTaskInfo textarea.EditingTextArea:focus {
    outline: none;
    border: none;
}

.SingleTaskInfo .TaskConversation textarea.EditingTextArea {
    border: 1px solid var(--main-text-color);
    background-color: var(--email-container-background);
    width: 95%;
    margin: 15px;
    padding: 20px;
}
.SingleTaskInfo .ViewSelector {
    display: flex;
    justify-content: space-around;
}
.SingleTaskInfo .ViewSelector button {
    background-color: transparent;
    flex-grow: 1;
    font-size: 18px;
    margin: 10px;
    color: var(--main-text-color);
}

.SingleTaskInfo .TaskConversation {
    min-width: 100%;
    box-sizing: border-box;
}
.SingleTaskInfo .TaskConversation .task_message {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding: 10px;
    margin: 10px;
}

.SingleTaskInfo .TaskConversation .task_message .emailStamp {
    justify-self: flex-start;
    margin-top: 0;
    position: relative;
    top: -15px;
}

.SingleTaskInfo .TaskConversation .task_message span {
    background-color: rgb(32, 40, 66);
    width: 80%;
    min-height: 50px;
    text-align: left;
    align-self: flex-start;
    padding: 5px;
    border-radius: 7px;
    color: rgb(240, 240, 240);
    word-wrap: break-word;
}
.SingleTaskInfo .TaskConversation .task_message.user {
    flex-direction: row;
}
.SingleTaskInfo .TaskConversation .task_message.user span {
    background-color: rgb(56, 65, 96);
}
