@import '../misc/Globals.css';
.CenterDivision {
    border-radius: 10px;
    background-color: var(--email-container-background);
    height: 100%;
    width: 50%;
    min-width: 450px;
    position: relative;
    transition: width 0.7s ease-in-out;
}

.CenterDivision .CenterSimpleBar .simplebar-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.CenterDivision .ExpandButton:hover {
    cursor: pointer;
}

.CenterDivision.collapsed_right {
    width: 70%;
    transition: width 0.7s ease-in-out;
}

.CenterDivision .ExpandButton {
    --expand_button_size: 20px;
    background-color: var(--email-container-background);
    padding-top: calc(0.5 * var(--expand_button_size));
    text-align: center;
    font-size: calc(1 * var(--expand_button_size));
    font-weight: bold;
    color: var(--main-text-color);
    border-radius: 100%;
    position: absolute;
    right: calc(5px - var(--expand_button_size));
    top: 70%;
    height: calc(2 * var(--expand_button_size));
    width: calc(2 * var(--expand_button_size));
    z-index: 0;
}

.AttachedFile {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.AttachedFile:hover {
    cursor: pointer;
}

.tooltiptext {
    opacity: 0;
    position: relative;
    color: var(--link_hover_color);
}

.AttachedFile:hover .tooltiptext {
    opacity: 1;
    transition: opacity 0.5s ease;
}

.AttachedFile p {
    color: var(--main-text-color);
    vertical-align: top;
}

.AttachedFiles {
    display: flex;
    flex-direction: column;
}

.ReplyForm {
    background-color: var(--email-container-background);
    height: 40px;
    padding: 2px;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ReplyForm .reply_button_old {
    color: var(--main-text-color);
    background-color: var(--email-container-background);
    outline: none;
    padding-top: 10px 0 0 5px;
    flex-grow: 1;
    margin-left: 5px;
    align-self: center;
    border: none;
}

.ReplyForm .email_action_button {
    color: var(--main-text-color);
    background-color: transparent;
    outline: none;
    padding: 5px 0 0 5px;
    margin-left: 15px;
    border-radius: 10px;
    border: 3px solid var(--email-text-area-bg);
    width: 100px;
    height: 40px;
}

.ReplyForm input[type='text'] {
    color: var(--main-text-color);
    background-color: var(--email-container-background);
    outline: none;
    width: 100%;
    height: 100%;
    vertical-align: top;
    border: none;
}

.ReplyForm input[type='button'],
input[type='file'] {
    width: 40px;
    z-index: 3;
    background-color: transparent;
    outline: none;
    filter: alpha;
    opacity: 0;
    margin: 0;
}

.ReplyForm img.send {
    position: relative;
    left: 30px;
    width: 40px;
    margin: 0;
    z-index: 1;
}

.ReplyForm img.file {
    position: relative;
    left: 50px;
    width: 40px;
    margin: 0;
    z-index: 1;
}

.CenterSimpleBar {
    height: calc(100% - 60px);
    overflow-x: hidden;
}
