@import "../Globals.css";

.emailStamp{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: small;
    margin: 5px;
    color: var(--main-text-color);
    justify-content: flex-start;
    overflow: hidden;
    font-size: medium;
    line-height: 1;
}

.TimeStamp p{
  margin: 2px;
  padding: 0px;
  font-size: 13px;
}

.GroupIcon img {
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

.GroupIcon{
  display: grid;
  justify-content: center;
  margin: 10px;
}

.extra_icon {
  display: inline-block;
  font-size: medium;
  background-color: rgba(59, 106, 124, 0.856);
  height: max-content;
  width: max-content;
  border-radius: 100%;
  margin: 0;
  padding: 3px;
  text-align: center;
  color: rgba(255, 255, 255, 0.704)
}

img.threadIcon {
  border: 1px solid black;
}



