@import "../Globals.css";

.emailThread .threadIcon, .EmailContainer .threadIcon {
  border-radius: 100%;
  height: 50px;
  width: 50px;
  margin: 2px;

}

.EmailContainer .email_text_area .threadIcon {
    height: 40px;
    width: 40px;
}

img.threadIcon {
  border: 2px solid black;
}

.EmailContainer .email_text_area span.extra_icon {
  font-size: medium;
  background-color: rgba(59, 106, 124, 0.856);
  position: relative;
  left: 8px;
  height: fit-content;
  border-radius: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.704)
}

.attachment {
  margin: 5px;
  height: 40px;
  width: 40px;
}
.emailThread:hover{
  cursor: pointer;

}

.emailThread{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 20px;
  max-width: 100%;
  overflow-x: visible;
  background-color: transparent;
  margin: 5px;
  padding: 5px;
  font-size: medium;
  font-weight: normal;

}


.selected_thread {
  background-color: var(--selected-thread-bg-color);
}



.thread_labels {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  
}

.num_threads_label{
  width: 20px;
  height: 20px;
  border-radius: 100%;
  padding: 1px;
  color: black;
  background-color: lightblue;
  margin-top: 5px;
  text-align: center;
  font-weight: bold;
  font-size: medium;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.unread h4 {
  color: white;
}
.unread.email_text_area, .unread .TimeStamp{
  color: var(--unread-text-color);
}


button {
  outline: none;
  font-weight: normal;
}
