
@import '../Globals.css';

.GroupedThreads {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-x: visible;
    background-color: var(--main-bg-color);
}
.GroupedThreads .group_button {
    text-align: left;
    display: flex;
    flex-direction: column;
    margin: 10px 5px;
    background-color: transparent;
}

button.Urgent {
  color: red;
}

button.Important {
  color: orange;
}

button.CanWait {
  color: green;
}

button.Default {
  color: rgb(24, 116, 177);
}

button.Urgent , button.Important, button.CanWait, button.Default{
  font-size: large;
  border-color: var(--email-container-background);
  border-width: 2px;
  border-style: solid;
}