@import '../Globals.css';

.LeftDivision {
    height: 100%;
    width: 25%;
    min-width: 360px;
    background-color: var(--main-bg-color);
}

.load_more_button {
    height: 50px;
    width: 100%;
    border: none;
    outline: none;
    color: rgb(120, 133, 161);
    font-size: large;
    background-color: var(--main-bg-color);
}

.load_more_button:active {
    background-color: #263135;
}

.ScrollableThreadContainer {
    margin: 0;
    height: calc(100% - 85px);
    width: 100%;
    overflow-x: visible;
}

.SimpleBar2 {
    height: 100%;
}

.MailFolders {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.MailFolders button {
    background-color: var(--selected-thread-bg-color);
    margin: 5px;
    width: 50px;
    color: var(--main-text-color);
}

.MailFolders button.selected {
    color: white;
}
