@import "../Globals.css";

.RightDivision{
    width: 25%;
    height: 100%;
    overflow: hidden;
}

.TasksDisplayer {
    margin-bottom: 30px;
    color: var(--main-text-color);
}

.TasksDisplayer h4{
    margin-bottom: 1px;
    padding-bottom: 1px;
}

.TasksDisplayer span.task_owner{
    color:white;
    display:inline;
    height:fit-content;
    margin-right: 0.2em;
}

.Tasks {
    background-color: var(--email-container-background);
}
.TasksDisplayer ul {
    list-style: none;
    margin-top: 5px;
}

.TasksDisplayer ul li::before{
  content: "\2022";
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}

.TasksDisplayer ul li.Urgent::before{
  color:red;
}

.TasksDisplayer ul li.Important::before{
  color:orange;
}

.TasksDisplayer ul li.CanWait::before{
  color:green;
}

.TasksDisplayer.done ul li::before{
  display: none;
}

.TasksDisplayer ul li:hover{
    cursor: pointer;
}

.TasksDisplayer ul{
    padding: 10px;
}

.TasksDisplayer ul li{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.TasksDisplayer.not_done ul li{
    color:rgb(107, 161, 219);
}
.TasksDisplayer ul li .task_status_button{
    display: inline-block;
    position: relative;
    top: 3px;
    border-radius: 100%;
    height:12px;
    width: 12px;
    border: 1px solid var(--main-text-color);
    align-self: flex-start;
    text-align: center;
    margin: 2px 3px 2px 0px;
    padding: 0;
    color: transparent;
    font-weight: bold;
}

.TasksDisplayer ul li .task_status_button span.inner{
    position: relative;
    top:-6px;
    color:var(--email-container-background);
}

.TasksDisplayer ul li .task_status_button:hover{
    background-color: var(--main-text-color);
    transition: all 0.5s ease;
    color: var(--email-container-background);
}

.TasksDisplayer.done ul li .task_status_button{
    background-color: var(--main-text-color);
    color: var(--email-container-background);
}

.TasksDisplayer ul li .done{
    color: var(--main-text-color) !important;
}

.Container{
    display: block;
    background-color: var(--email-container-background);
    color: var(--main-text-color);
    margin: 5px 20px 20px 20px;
    padding-top: 2px;
    padding-bottom: 20px;
    padding-left: 20px;
    border-radius: 20px;
}

.ParticipantsIcons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.ParticipantsIcons img {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    margin: 10px;
}

.AttachmentsDisplay img {
    height: 50px;
    width: 50px;
}
.AttachmentsDisplay {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    cursor: pointer;
}

.TitledImage{
    margin: 3px 10px;
}

.AttachmentsDisplay p{
    margin-top: 0;
    padding: 0px;
}
p.contact_initials{
    margin-bottom: 0;
    text-align: center;
}

 .SimpleBar_RightDivision {
     height: 100%;
 }