@import "../Globals.css";

.RightDivision{
    width: 25%;
    height: 100%;
    overflow: hidden;
}

.TasksDisplayer {
    margin-bottom: 30px;
    color: var(--main-text-color);
}

.TasksDisplayer h4{
    margin-bottom: 1px;
    padding-bottom: 1px;
}

.TasksDisplayer span.task_owner{
    color:white;
    display:inline;
}

.Tasks {
    background-color: var(--email-container-background);
}
.TasksDisplayer ul {
    list-style: none;
    margin-top: 5px;
}

.TasksDisplayer ul li::before{
  content: "\2022";
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}

.TasksDisplayer ul li.Urgent::before{
  color:red;
}

.TasksDisplayer ul li.Important::before{
  color:orange;
}

.TasksDisplayer ul li.CanWait::before{
  color:green;
}

.TasksDisplayer ul li:hover{
    cursor: pointer;
}

.TasksDisplayer ul li:active{
    background-color: rgb(34, 99, 157);
}
.TasksDisplayer ul{
    padding: 10px;
}

.TasksDisplayer ul li{
    color:rgb(107, 161, 219);
}
.Container{
    display: block;
    background-color: var(--email-container-background);
    color: var(--main-text-color);
    margin: 5px 20px 20px 20px;
    padding-top: 2px;
    padding-bottom: 20px;
    padding-left: 20px;
    border-radius: 10%;
}

.ParticipantsIcons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.ParticipantsIcons img {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    margin: 10px;
}

.AttachmentsDisplay img {
    height: 50px;
    width: 50px;
}
.AttachmentsDisplay {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    cursor: pointer;
}

.TitledImage{
    margin: 3px 10px;
}

.AttachmentsDisplay p{
    margin-top: 0;
    padding: 0px;
}
p.contact_initials{
    margin-bottom: 0;
    text-align: center;
}

 

