@import "../Globals.css";

.SingleTaskInfo{
    background-color: var(--email-text-area-bg);
    height: calc(100% - 60px);
    width: 40%;
    color: var(--main-text-color);
}


.SingleTaskInfo .simplebar-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    height: 100%;

}

