@import "../../../node_modules/@syncfusion/ej2-base/styles/material-dark.css";
@import "../../../node_modules/@syncfusion/ej2-buttons/styles/material-dark.css";
@import "../../../node_modules/@syncfusion/ej2-calendars/styles/material-dark.css";
@import "../../../node_modules/@syncfusion/ej2-dropdowns/styles/material-dark.css";
@import "../../../node_modules/@syncfusion/ej2-inputs/styles/material-dark.css";
@import "../../../node_modules/@syncfusion/ej2-lists/styles/material-dark.css";
@import "../../../node_modules/@syncfusion/ej2-navigations/styles/material-dark.css";
@import "../../../node_modules/@syncfusion/ej2-splitbuttons/styles/material-dark.css";
@import "../../../node_modules/@syncfusion/ej2-popups/styles/material-dark.css";
@import "../../../src/override_styles/ej2-react-schedule.css";

.Calendar * {
    box-sizing: border-box;
}
.Calendar{
    padding:10px;
    height: calc(100% - 60px);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}

.scheduler {
    width: 75%;
    height: 100%;
    overflow: hidden;


}

.Calendar .simple_bar {
    height:100%;
}

.calendar_right_division{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 2px 0 15px;
}

.calendar_right_division > *{
    border-radius: 10px;
    padding: 5px 5px 0 5px;
}

.e-schedule .e-vertical-view .e-day-wrapper .e-appointment {
    background-color: white;
    font-weight: bold;

}
.e-schedule .e-vertical-view .e-day-wrapper .e-appointment.Urgent{
    background-color: rgb(247, 213, 213)
}

.e-schedule .e-vertical-view .e-day-wrapper .e-appointment.Urgent * {
    color: red;
}

.e-schedule .e-vertical-view .e-day-wrapper .e-appointment.Important  {
    background-color: rgb(255, 235, 197);
}

.e-schedule .e-vertical-view .e-day-wrapper .e-appointment.Important * {
    color: rgb(185, 122, 3);
}

.e-schedule .e-vertical-view .e-day-wrapper .e-appointment.CanWait {
    background-color: rgb(187, 250, 187);
}

.e-schedule .e-vertical-view .e-day-wrapper .e-appointment.CanWait *{
    color: green
}

.e-schedule .e-vertical-view .e-day-wrapper .e-appointment.suggested {
    background: repeating-linear-gradient(
  45deg,
  #606dbc,
  #606dbc 10px,
  #465298 10px,
  #465298 20px
);
    color: white;
}