@import '../Globals.css';
.CalendarTasks * {
    box-sizing: border-box;
}
.CalendarTasks {
    height: 75%;
    width: 100%;
    background-color: var(--email-container-background);
    margin-bottom: 20px;
}

.calendar_right_division  .header {
    display: flex;
    height: 30px;
    align-items: flex-start;
    padding-right: 0;
}

.calendar_right_division  .header * {
    margin: 2px;
}

.CalendarTasks .header .header_button {
    background-color: var(--email-text-area-bg);
    color: var(--main-text-color);
}

.calendar_right_division  .header .header_title{
    color: white;
    font-size: 18px;
}
.calendar_right_division .header .Menu{
    margin-left: auto;
    margin-right: 0;
    width: fit-content;
    font-size: 12px;

} 
s
.CalendarTasks .header .Dropdown-menu{
    min-width: max-content;
}

.calendar_right_division .header .Dropdown-control{
    min-width: max-content;
    background-color: transparent;
}