@import '../misc/Globals.css';

.Home {
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    min-width: max-content;
    min-height: max-content;
}

.not_nav {
    background-color: var(--main-bg-color);
    height: 100%;
    width: calc(100% - 64px);
}

.top_buttons {
    display: flex;
    flex-direction: row;
    height: 60px;
}
