@import url(../Globals.css);
.AddTaskPortal * {
  margin: 2px;
}

.AddTaskPortal {
  width: 400px;
  background-color: var(--email-container-background);
  z-index: 1000;
}

.AddTaskPortal input {
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 5px;
}

.FooterButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2px;
  background-color: #384160;
}

.FooterButtons .Menu .Dropdown-control {
  background-color: transparent;
  color: black;
}

.FooterButtons button.create_task {
  background-color: var(--email-container-background);
  color: white;
  font-size: small;
  height: 100%;
}

.FooterButtons button.delete {
  background-color: transparent;
  font-size: x-large;
  font-weight: bold;
  color: red;
  border: 2px solid red;
  padding: 0px 4px;
}

.TaskContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.TaskContent input, .TaskContent input::-webkit-input-placeholder {
  background-color: var(--eamil-container-background);
  color: white;
  font-weight: normal;
  width: 90%;
}

.TaskContent input, .TaskContent input:-ms-input-placeholder {
  background-color: var(--eamil-container-background);
  color: white;
  font-weight: normal;
  width: 90%;
}

.TaskContent input, .TaskContent input::-ms-input-placeholder {
  background-color: var(--eamil-container-background);
  color: white;
  font-weight: normal;
  width: 90%;
}

.TaskContent input, .TaskContent input::placeholder {
  background-color: var(--eamil-container-background);
  color: white;
  font-weight: normal;
  width: 90%;
}

.task_owner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
}

.task_owner img {
  height: 30px;
  width: 30px;
  border-radius: 100%;
  margin: 5px;
}

.task_owner input {
  color: white;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.task_owner ul {
  background-color: var(--email-container-background);
  -ms-flex-item-align: start;
      align-self: flex-start;
  color: white;
  overflow-y: visible;
  z-index: 1000;
  list-style-type: none;
  padding: 3px;
}

.task_owner ul li:hover {
  cursor: pointer;
  background-color: var(--email-text-area-bg);
}
/*# sourceMappingURL=AddTaskPortal.css.map */