@import "../Globals.css";

@mixin flex_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.AddTaskPortal * {
    margin: 2px;
}

.AddTaskPortal {
    width: 400px;
    background-color: var(--email-container-background);
    border: 2px solid black;
    z-index: 1000;
    input {
        background-color: transparent;
        display: flex;
        justify-content: flex-start;
        margin: 5px;
    }
}

.FooterButtons{
    @include flex_row;
    padding: 2px;
    background-color: rgb(56, 65, 96);
    .Menu .Dropdown-control {
        background-color: transparent;
        color: black;
    }
    button.create_task {
        background-color: var(--email-container-background);
        color: white;
        font-size: small;
        height: 100%;
        padding: 5px;
    }
    button.delete {
        background-color: transparent;
        font-size: x-large;
        font-weight: bold;
        padding: 5px;
        margin: 2px;
    }
}

.TaskContent {
    @include flex_row;
    input, input::placeholder {
        background-color: var(--eamil-container-background);
        color: white;
        font-weight: normal;
        width: 90%;
        
    }
}

.task_owner {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    img {
        height: 30px;
        width: 30px;
        border-radius: 100%;
        margin: 5px;
    }
    input {
            color: white;
            flex-grow: 1;
    }
    ul {
        background-color: var(--email-container-background);
        align-self: flex-start;
        color: white;
        overflow-y: visible;
        z-index: 1000;
        list-style-type: none;
        padding: 3px;
        li:hover{
            cursor: pointer;
            background-color: var(--email-text-area-bg);
        }
    }
}