@import "./Globals.css";

.email_text_area {
  color: rgb(120,133,161);
  text-align: left;
  height: 105px;
  line-height: 1.5;
  overflow: hidden;
  padding-bottom: 10px;
  margin-left: 5px;
  font-size: medium;
  width: 70%;
  text-overflow: ellipsis;
}


.adjust_height_to_text{
  height: auto;
  width: 75%;
}

.threadIcon {
  border-radius: 100%;
  height: 50px;
  width: 50px;
  margin-bottom: 3px;
  margin: 2px;
}
h1.threadIcon {
  font-size: larger;
  background-color: rgba(59, 106, 124, 0.856);
  position: relative;
  left: 15px;
  width:30px;
  height: 30px;
  color: rgba(255, 255, 255, 0.704)
}
.emailStamp{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: small;
    margin: 5px;
    color: var(--main-text-color);
    justify-content: flex-start;
    overflow: hidden;
    font-size: medium;
    width:100px;
    line-height: 1;
}

.attachment {
  height: 40px;
  width: 40px;
}


.emailThread{
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  width: 100%;
  overflow-x: hidden;

}

.thread_button{
      background-color: transparent;
      margin-top: 5px;
      margin: 5px;
      font-size: medium;
      font-weight: normal;
}


.selected_thread {
  background-color: var(--selected-thread-bg-color);
}



.thread_labels {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  
}

.num_threads_label{
  width: 26px;
  height: 26px;
  border-radius: 50%;
  padding: 1px;
  color: black;
  background-color: rgb(58,129,207);
  margin: 5px;
  text-align: center;
  font-weight: bold;
  font-size: large;
}

.unread h4 {
  color: white;
}
.unread * {
  color: var(--unread-text-color);
}

button {
  outline: none;
  font-weight: normal;
}

div.Urgent {
  background-color: red;
}

div.Important {
  background-color: orange;
}

div.CanWait {
  background-color: green;
}

.EmailOptionsButton{
  position: relative;
  left: 85%;
  top: 10px;
  background: transparent;
}

.EmailOptionsButton * div {
  width: 70px;
}

.EmailOptionsButton * .Dropdown-control {
  background-color: transparent;
  text-align: right;
}

.EmailOptionsButton *.Dropdown-arrow {
  visibility: hidden;
}

.GroupIcon{
  max-width: 100px;
  margin-left: auto;
  margin-right: auto;
  justify-content: start;
  display: grid;
  grid-template-columns: repeat(auto-fit,  minmax(10px, max-content)) ;
}

.TimeStamp p{
  margin: 2px;
  padding: 0px;
  font-size: 13px;
}
