@import './Globals.css';

.EmailComposer {
    color: var(--main-text-color);
    width: 550px;
    padding: 10px;
    height: 580;
    margin: 10px;
    border: 1px solid rgb(107, 161, 219);
}

.Recipients {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top:  10px;
}

.Recipients > label{
    min-width:35px;
    margin-right: 5px;
    vertical-align: middle;
    background-color: var(--email-container-background);
}

.Recipients .input_container, .Subject input{
    border: 1px solid var(--main-text-color);
    border-radius: 10px;
    padding: 5px;
    width: 100%;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    display: flex;
    outline: none;
}

.EmailComposer{
    position: absolute;
    top: calc(100% - 490px);
    left: 35%;
    background-color: var(--email-container-background);
    z-index: 100;
}

.on_top .EmailComposer{
    z-index: 101;
}

.subject_title_line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.subject_title_line h3, .EmailContent h3 {
    margin: 2px 0px;
    font-weight: normal;
}

.Subject {
    margin: 20px 20px 20px 0px;
    margin-right: 15px;
}
.Subject input {
    font-size: 16px;
    padding: 5px;
}

.input_container:focus, .ql-editor:focus, .Subject input:focus {
    border: 1px solid rgb(107, 161, 219);
}

.Subject .Dropdown-menu {
    min-width: 100px;
}

.Subject .Dropdown-control {
        background-color: transparent;
}

.Subject .Menu {
    justify-content: flex-end;

}

.Urgent .Dropdown-placeholder.is-selected {
  color: red;
}

.Important .Dropdown-placeholder.is-selected {
  color: orange;
}

.CanWait .Dropdown-placeholder.is-selected {
  color: green;
}

.EmailComposer .header {
    margin: 0 0 5px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.EmailComposer .EmailContent {
    height: 130px;
}
.EmailComposer .header_label {
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.EmailComposer .header_label img {
    margin-right: 10px;
    height: 20px;
    width: 20px;
}

.EmailComposer .header_label #from_label {
    font-size: larger;
}

.EmailComposer button.delete {
    margin-left: auto;
    background-color: transparent;
    color: var(--main-text-color);
    font-size: large;
}

button:hover{
    cursor: pointer;
}

#sender_address{
    color:white;
    font-size: larger;
    pointer-events: none;
}

.email_sent_message {
    position: fixed;
    left: 50vw;
    top: 20px;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: green;
    opacity: 0;
    font-size: larger;
}

.email_sent_message.visible {
    opacity: 1;
    transition: opacity 0.7s ease;

}

.email_sent_label {
    color: white;
}

.email_sent_undo {
    color: black;
    margin-left: 0.3em;
}

.email_sent_undo:hover {
    cursor: pointer;
}
