@import 'Globals.css';

:root {
  --link_hover_color: rgb(107,161,219);
}

.Home {
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: row;

}
.Nav {
    background-color: var(--email_container_background);
    display: flex;
    flex-direction: column;
    width:70px;
    height:100vh;
    align-items: center;
}

.NavCluster {
    border: 2px solid var(--main-bg-color);
}


.nav_link {
    margin: 10px;
    background-color: var(--main-bg-color);
    border-radius: 100%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;


}

.nav_link img {
    width:60%;
    height: 60%;
    padding: 2px;
    align-self: center;
}


.nav_link:hover{
    background-color: var(--link_hover_color);
}